<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b4d1d222-03ed-42cd-bdcf-1be03657ca81" Publisher="CN=Uddhab" Version="1.1.0.0" />
  <Properties>
    <DisplayName>SurferLite</DisplayName>
    <PublisherDisplayName>Uddhab K S</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SurferLite.App">
      <VisualElements DisplayName="SurferLite" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SurferLite is an client application using a cloud service on azure." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="SL" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>